{% extends "base.html" %}
{% block title %} Activity Recommendation Engine {% endblock %}
{% block head %} {{ super() }}{% endblock %}
{% block content %}
<div>
    <h2>Recommended Activities for {{ recommendation.choices[0].start_hour.strftime("%A, %B%d") }} </h2>
    <table class="table table-striped">
        <tr>
            <th>When</th>
            <th>Title</th>
            <th>Description</th>
            <th>Type</th>
            <th>Reason</th>
        </tr>
    {% for choice in recommendation.choices %}
        <tr>
            <td>{{ choice.start_hour.strftime("%-I:%M %p") }} to {{ choice.end_hour.strftime("%-I:%M %p") }}</td>
            <td><a href={{choice.url}}>{{choice.title}}</a></td>
            <td>{% if choice.description == "" %} "N/A" {% else %} {{choice.description}} {% endif %} </td>
            <td> {{ choice.recommendation_type }}</td>
            <td> {{ choice.reason.reason }}</td>
        </tr>
    {% endfor %}
    </table>

    <a class="btn btn-primary" role="button" href="{{ url_for('index') }}">Try again?</a>
</div>
{% endblock %}