<h2>Activity Recommendation Engine</h2>

<div>
    {% for choice in recommendation.choices %}

        <p>{{ choice.reason }}</p>
        {% if choice.recommendation_type == "Netflix" %}
            <p>Here is a show to watch on Netflix: </p>
        {% else %}
            <p>Here's a free event in your area!</p>
        {% endif %}

    <p>Title: {{choice.title}}</p>
    <p>Description: {% if choice.description == "" %} "N/A" {% else %} {{choice.description}} {% endif %} </p>
    <p>More info: <a href={{choice.url}}> Here </a> </p>
    {% endfor %}

    <a href="{{ url_for('index') }}">Try again?</a>
</div>